@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to left,
                    rgba(238, 130, 238, 0.479),
                    rgba(76, 0, 130, 0.429),
                    rgba(0, 0, 255, 0.411),
                    rgba(0, 128, 0, 0.422),
                    rgba(255, 0, 0, 0.451),
                    rgba(255, 166, 0, 0.37));
                    font-family: 'Inconsolata', monospace;
}
.title{
    font-weight: bold;
    font-size: large;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    padding: 5px;
    
    
}
.changeBackground{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}
.changePallete{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}
button{
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: rgb(184, 238, 206);
    outline: 1px solid black;
    border: none;
    border-radius: 5px;
}
.colorBox{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 20rem;
    margin: 5px;
    padding: 5px;
    background-color: white;
}
.background{
    display: flex;
    width: 50%;
    /* border: 2px solid blue; */
}
.colorPallete{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    /* border: 2px solid yellow; */
}
#clear{
    display: flex;
    width: 10%;
    justify-content: center;
}